/*css for the general setting*/
.container-fluid{

    padding:10% 0 10% 0;
}

.container-general{
    margin:2em;

}

/* Menu */
.nav-class {
    background-color: #9572FD;
    overflow: hidden;
    position: fixed;
    top:0;
    width:100%;
    font-weight:bold;
}


/* Style the links inside the navigation bar */
.nav-class a {
    float: left;
    color: #f5e9e9;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 2vm;

}

@media only screen and (max-width:400px){
    .nav-class a {
        padding:1px 1px;
        font-size: 2vm;
    }

}


.active
{
    background-color: #72E2FD;
}

h1{
    font-size: 3.0em;
}

h2{
    text-align:center;
    font-size: 2em;
    font-family:Arial sans-serif;
    padding:10px;
    font-weight: bold;
}

/*canvas*/
a{
    text-decoration: none;
}
div.canvas{
    border:2px solid #9572FD;
}

div.canvas:hover{
    border: 2px solid #7DA0FA;
}

div.canvas img{
    width:100%;
    height:auto;
}

div.text {
    padding: 15px;
    text-align: center;
    text-decoration:none;
    font-family: sans-serif;
    color:black;
}

div.text:hover{
    color:#7DA0FA;

}

* {
    box-sizing: border-box;
}

.costume-responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .costume-responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .costume-responsive {
        width: 100%;
    }
}

.container-information{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items: center;
    align-content: stretch;
}













